<?xml version="1.0"?>
<launch>

  <arg name="steam_root" default="$(env HOME)/.local/share/Steam"/>
  <rosparam param="/vive/world_offset">[0, 0, 0]</rosparam>
  <rosparam param="/vive/world_yaw">0.0</rosparam>

  <node name="vive_ctrl" pkg="vive_ros" type="vive_ctrl" launch-prefix="$(arg steam_root)/ubuntu12_32/steam-runtime/run.sh" output="screen" required="true"/>

</launch>


